$colors: (
	'primary': (
		'100': 203 28% 79%,
		'200': 205 30% 27%,
		'300': 206 45% 15%,
		'400': 37 98% 54%,
		'500': 271 68% 32%,
		'600': 203 22% 55%,
	),
	'neutral': (
		'100': 0 0% 100%,
		'200': 0 0% 99%,
		'300': 0 0% 0%,
	),
);

$font-sizes: (
	'100': 1rem,
	'200': 1.125rem,
	'300': 1.25rem,
	'400': 1.625rem,
	'500': 2.5rem,
);

$font-families: (
	'main': Atkinson Hyperlegible,
);
